@charset "ISO-8859-1";

.container-scroller {
	display: flex;
	position: relative;
}

.container-scroller {
	overflow: hidden;
}

.main-panel {
	transition: width 0.25s ease, margin 0.25s ease;
	width: 100%;
	min-height: calc(100vh - 130px);
	padding-top: 130px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.top-header {
	font-size: 12px;
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
	-webkit-transform-origin: top;
	transform-origin: top;
	font-weight: 600;
}

/*Datepicker*/
.ui-datepicker-trigger{
	width: 2rem !important;
	height: 2rem !important;
}

.ui-datatable, ui-widget{
	font-size: 0.9rem !important;
}

.ui-datatable .ui-datatable-data > tr > td {
 padding: 0.5rem 0.5rem !important;
}

.ui-datatable tbody td {
white-space: nowrap !important;
}

#map_add, #map_upd, #map_view{
	width: 436px !important;
	height: 320px !important;
	
}

